{% extends 'base.html'%}

{% block content%}
<div class="product" style="margin: 0 auto; max-width: 1200px;">
  <div style="max-width: 1400px; margin-bottom: 1rem; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem; overflow: hidden;">
    <div style="display: flex; flex-wrap: nowrap;">
      <div style="flex: 0 0 auto; width: 33.333333%;">
        <img src="##" style="width: 100%; height: auto; border-top-left-radius: calc(.25rem - 1px); border-bottom-left-radius: calc(.25rem - 1px);" alt="produks Image">
      </div>
      <div style="flex: 1 1 auto; padding: .375rem .75rem;">
        <div style="padding: 1rem;">
            <center style="text-align: justify;"> 
                <h5 style="margin-top: 0; margin-bottom: .75rem;"><b>##</b></h5><br/>
                <p style="margin-top: 0; margin-bottom: 1rem;">##</p><br/>
                {%if produk.is_sale%}

                
                  <div class="price-box">
                    <p class="price">UGX {{produk.sale_price}}</p>
                    
                  </div>
                {%else%}
                
                UGX {{ produk.price}}
                <br/>
                {%endif%}
                <br/><br/><br/>



                <a href="##" class="banner-btn">Home</a><br/>
                <button data-product=## data-action="add" type="button" class="banner-btn update-cart" value="{{ produk.id }}"><ion-icon name="bag-add-outline"></ion-icon></button>

            </center>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

  
{% endblock%}