{% extends 'base.html'%}
{%block content%}

<br></br>
<main>
{% comment %} <div style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;"> {% endcomment %}
    
    <div class="product-container"  >

        <div class="container">
  
       <div class="product-main">

          <h1 class="title" style="display: flex;  padding-left: 30px; font-size: 30px"><b>New Products Posted by Businesses</b></h1>
            

        <div class="product-grid" style="">
            
                
                {%for produk in produks%}
                {% if produk.is_sale %}
                <div class="showcase">
                
                    
                
                     <div class="showcase-banner">
        
                            <img src="{{produk.image1.url}}"alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                            <img src="{{produk.image2.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
                            
                           <div class="showcase-actions">
            
                                <button class="btn-action">
                                <ion-icon name="heart-outline"></ion-icon>
                                </button>
            
                                <a href="{% url 'produk' produk.id %}" >
                                    <button class="btn-action">
                                    <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                </a>
            
                                <button class="btn-action">
                                <ion-icon name="repeat-outline"></ion-icon>
                                </button>
            
                                <button data-product={{produk.id}} data-action="add" class="btn-action update-cart">
                                <ion-icon name="bag-add-outline"></ion-icon>
                                </button>
            
                            </div>
        
                       </div>
                        
        
                        <div class="showcase-content">
        
                            <a href="#" class="showcase-category">{{produk.Category}}</a>
            
                            <a href="{% url 'produk' produk.id%}">
                                <h3 class="showcase-title">{{produk.name}}</h3>
                            </a>
            
                            <div class="showcase-rating">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </div>
            

                            <div class="price-box">
                                <p class="price">UGX  {{produk.sale_price}}</p>
                                <del>UGX  {{produk.price}}</del>
                            </div>
                        </div>
                    </br></br>
                        <div class="price-box" style="display: flex;">
                            <p class="title">
                                Posted by:  <a href="#"><h3 class="showcase-category">Business Name</h3></a>
                            </p>
                            <p class="price">On: Date</p>
                            
                        </div>

                </div>
                {%else%}
                <div class="showcase">
                
                    <div class="showcase-banner">

                    <img src="{{produk.image1.url}}"alt="Mens Winter Leathers Jackets" width="300" class="product-img default"> 
                    <img src="{{produk.image2.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">  
                    
                    <div class="showcase-actions">

                        <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                        </button>

                        <a href="{% url 'produk' produk.id%}" >
                            <button class="btn-action">
                            <ion-icon name="eye-outline"></ion-icon>
                            </button>
                        </a>

                        <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                        </button>

                        <button data-product={{produk.id}} data-action="add" class="btn-action update-cart">
                        <ion-icon name="bag-add-outline"></ion-icon>
                        </button>

                    </div>

                    </div>
                    

                    <div class="showcase-content">

                    <a href="#" class="showcase-category">{{produk.Category}}</a>

                    <a href="{% url 'produk' produk.id%}">
                        <h3 class="showcase-title">{{produk.name}}</h3>
                    </a>

                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                        <p class="price">UGX {{produk.price}}</p>
                        <del>UGX {{produk.sale_price}}</del>
                    </div>

                    </div>
                </br></br>
                    <div class="price-box" style="display: flex;">
                        <p class="title">
                            Posted by:  <a href="#"><h3 class="showcase-category">Business Name</h3></a>
                        </p>
                        <p class="price">On: Date</p>
                        
                    </div>
                </div>
                {%endif%}
                {% endfor %}
                
        
        </div>
    </div>
    </div>
   
 </div> 
  {% comment %} </div> {% endcomment %}


  




</main>

<br></br>
{%endblock%}