<!----{% extends 'base.html'%}

{% block content%}
<div class="Cart" style="margin: 0 auto; max-width: 1000px;">
    <div class="Cart-header" style="color: hsl(353, 100%, 78%); text-align: center; font-size: 300%;">
        <h1 style="margin: 0; padding: 0;">Shopping Cart</h1>
        <p>View Your Cart</p>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
 
</div>
{% endblock%}-->
