{% load static %}
<header>

    <div class="header-top">

      <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

        <div class="header-alert-news">
          <p>
            <b>Free Shipping</b>
            This Week Order Over - UGX 213,221.39
          </p>
        </div>

        <div class="header-top-actions">

          <select name="currency">

            <option value="usd">USD &dollar;</option>
            <option value="eur">EUR &euro;</option>
            <option value="UGX" label="Ugandan shilling">UGX</option>

          </select>

          <select name="language">

            <option value="en-US">English</option>
            <option value="es-ES">Espa&ntilde;ol</option>
            <option value="fr">Fran&ccedil;ais</option>

          </select>

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

        <a href="{%url 'Home'%}" class="header-logo">
          <img src="{% static 'assets/images/logo/logo.png'%}" alt="Quick Nova's logo" width="120" height="36">
        </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        <div class="header-user-actions">

    {% if user.is_authenticated %}
          <a href="{%url 'login'%}">
            <button class="action-btn">
              <ion-icon name="person-outline"></ion-icon>
            </button>
          </a>
    {% else %}
          <a href="{%url 'logout'%}">
            <button class="action-btn">
              <ion-icon name="person-circle-outline"></ion-icon>
            </button>
          </a>
          {% endif %}


          <button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span>
          </button>
                

          <a href="{% url 'cart_summary'%}" >
             <button class="action-btn" >
              <ion-icon name="bag-handle-outline"></ion-icon>
              <span class="count" id="cart_quantity">{{cart|length}}</span>
             </button>
         </a>
         
        </div>
       

       

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="{%url 'Home'%}" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="{%url 'Home'%}" class="menu-title">Categories</a>

            <div class="dropdown-panel">

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Electronics</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Desktop</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Laptop</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Camera</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Tablet</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Headphone</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">
                    <img src="{% static '/assets/images/electronics-banner-1.jpg'%}" alt="headphone collection" width="250"
                      height="119">
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="{%url 'category' 'Desktop'%}">Men's</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Formal</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Casual</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Sports</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Jacket</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Sunglasses</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">
                    <img src="{% static '/assets/images/mens-banner.jpg'%}" alt="men's fashion" width="250" height="119">
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="{%url 'category' 'Desktop'%}">Women's</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Formal</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Casual</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Perfume</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Cosmetics</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Bags</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">
                  <img src="{% static 'assets/images/womens-banner.jpg'%}" alt="women's fashion" width="250" height="119"> 
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Electronics</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'WATCHES'%}">Smart Watch</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Smart TV</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Keyboard</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Mouse</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">Microphone</a>
                </li>

                <li class="panel-list-item">
                  <a href="{%url 'category' 'Desktop'%}">
                    <img src="{% static 'assets/images/electronics-banner-2.jpg'%}" alt="mouse collection" width="250" height="119">
                  </a>
                </li>

              </ul>

            </div>
          </li>

          <li class="menu-category">
            <a href="{%url 'category' 'Desktop'%}" class="menu-title">Men's</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Shirt</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Shorts & Jeans</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Safety Shoes</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Wallet</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Women's</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Dress & Frock</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Earrings</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Necklace</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Makeup Kit</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Jewelry</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Earrings</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Couple Rings</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Necklace</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Bracelets</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Perfume</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Clothes Perfume</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Deodorant</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Flower Fragrance</a>
              </li>

              <li class="dropdown-item">
                <a href="{%url 'category' 'Desktop'%}">Air Freshener</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="{%url 'business'%}" class="menu-title">Businesses</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Blog</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>

        </ul>

      </div>

    </nav>

    <div class="mobile-bottom-navigation">

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="bag-handle-outline"></ion-icon>

        <span class="count">0</span>
      </button>

      <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="heart-outline"></ion-icon>

        <span class="count">0</span>
      </button>

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="grid-outline"></ion-icon>
      </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Men's</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="{%url 'category' 'Shirt'%}" class="submenu-title">Shirt</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Shorts-Jeans'%}" class="submenu-title">Shorts & Jeans</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Safety-Shoes'%}" class="submenu-title">Safety Shoes</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Wallet'%}" class="submenu-title">Wallet</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Women's</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="{%url 'category' 'Dress-Frock'%}" class="submenu-title">Dress & Frock</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Earrings'%}" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Necklace'%}" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Makeup-Kit'%}" class="submenu-title">Makeup Kit</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Jewelry</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="{%url 'category' 'Earrings'%}" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Couple-Rings'%}" class="submenu-title">Couple Rings</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Necklace'%}" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Bracelets'%}" class="submenu-title">Bracelets</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Perfume</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Clothes Perfume</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Deodorant'%}" class="submenu-title">Deodorant</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Flower-Fragrance'%}" class="submenu-title">Flower Fragrance</a>
            </li>

            <li class="submenu-category">
              <a href="{%url 'category' 'Air-Freshener'%}" class="submenu-title">Air Freshener</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Blog</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Espa&ntilde;ol</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Fren&ccedil;h</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Currency</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">USD &dollar;</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">EUR &euro;</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">UGX USh</a>

              </li>
            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>