{% extends 'base.html' %}

{% block content %}
<div class="register" style="margin: 0 auto; max-width: 1000px;">
    <div class="register-header" style="color: hsl(353, 100%, 78%); text-align: center; font-size: 300%;">
        <h1 style="margin: 0; padding: 0;">Update User Profile</h1>
    </div>
    <form class="registration-form" method="POST" action="{% url 'update_user' %}" style="border: 0.5px solid #fff; background: hsl(353, 100%, 78%); border-radius: 10px; box-shadow: 0px 0px 10px #000; box-sizing: border-box; padding-top: 30px; padding-left: 40px; padding-bottom: 10%; margin: 5% auto; text-align: left;">
        {% csrf_token %}
        {{ user_form.as_p}}
       <br/><br/>
       <input type="submit" value="Update" style="height: 30px; width: 100px; background: #fff; border: 1px solid #f2f2f2; border-radius: 20px; color: slategrey; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; cursor: pointer;">
      
        
    </form>
    <br/>
    <a href="{%url 'update_password'%}" class="banner-btn">Update Password</a>
    <br/><br/>
</div>
<style>
@media only screen and (min-width: 150px) and (max-width: 530px) {
    .login-form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .login-form h3 {
        text-align: center;
        margin: 0;
    }
    .sign-up, .no-access {
        margin: 10px 0;
    }
    .login-button {
        margin-bottom: 10px;
    }
}
</style>
</body>
{% endblock%}
