{% extends 'base.html'%}

{% block content%}
<br/><br/><br/>

    <p style="padding: .375rem .75rem;"> <h1 style="padding: .375rem .75rem;">QUICK NOVA E-commerce Website Terms and Conditions</h1>
        <p style="padding: .375rem .75rem;">Introduction
    Welcome to QUICK NOVA. These Terms and Conditions govern your use of our website and purchase of products. By accessing QUICK NOVA, you agree to these Terms and Conditions, Privacy Policy, and all applicable laws and regulations.</p>
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">User Account</h2>
        <h4 style="padding: .375rem .75rem;">To access certain features of our site, you may need to create an account. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">Product Information</h2>
        <h4 style="padding: .375rem .75rem;">QUICK NOVA makes every effort to display as accurately as possible the colors and images of our products. We cannot guarantee that your computer monitor's display of any color will be accurate.
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">Orders and Payments</h2>
        <h4 style="padding: .375rem .75rem;">By placing an order on QUICK NOVA, you warrant that you are at least 18 years old and are providing true, accurate, current, and complete information. Payment must be made at the time of placing your order.
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">Shipping and Returns</h2>
        <h4 style="padding: .375rem .75rem;">Shipping times may vary depending on your location and the shipping options you choose. You may return most new, unopened items within a specified period for a full refund, according to our Returns Policy.
    </p>


    <p><h2 style="padding: .375rem .75rem; color: red;">Intellectual Property</h2>
        <h4 style="padding: .375rem .75rem;">The content on QUICK NOVA, including text, graphics, images, and software, is the property of QUICK NOVA and protected by copyright and other intellectual property laws.
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">Limitation of Liability</h2>
        <h4 style="padding: .375rem .75rem;">QUICK NOVA will not be liable for any damages that arise from the use of, or the inability to use, the materials on this site or the performance of the products.
    </p>


    <p><h2 style="padding: .375rem .75rem; color: red;">Governing Law</h2>
        <h4 style="padding: .375rem .75rem;">These Terms and Conditions and any separate agreements whereby we provide you services shall be governed by and construed in accordance with the laws of [Jurisdiction].
    </p>

    <p><h2 style="padding: .375rem .75rem; color: red;">Changes to Terms and Conditions</h2>
        <h4 style="padding: .375rem .75rem;">We reserve the right, at our sole discretion, to update, change, or replace any part of these Terms and Conditions by posting updates and changes to our website. It is your responsibility to check our website periodically for changes.
    </p>


    <p><h2 style="padding: .375rem .75rem; color: red;">Contact Information</h2>
        <h4 style="padding: .375rem .75rem;">Questions about the Terms and Conditions should be sent to us at our emails through our <a href="{%url 'about'%}"><h1>about us</h1></h4></a>.
    </p>

<br/><br/><br/>
{% endblock%}